.main-banner .conteudo {
  text-align: center;

  & h2 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 48px;
    font-family: "Barlow", sans-serif;
    color: white;
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.603);

  }


  & span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.603);
  }
}


.banner {
  background-image: url(../img/banner/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
}

.main-banner {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}

.logos-slide {
  animation: 45s slide infinite linear;
  display: inline-block;
}

.logos-slide img {
  height: 100px;
  margin: 0 30px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1200px) {
  .logos-slide img {
    height: 80px;
  }
}

@media (max-width: 450px) {
  .logos-slide img {
    height: 60px;
  }

  .main-banner .conteudo {
    & h2 {
      line-height: 1.5;
      font-size: 36px;
    }

    & span {
      font-size: 14px;
    }
  }
}