*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-base: "Montserrat", sans-serif;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
  --text-xl: 4rem;
}


html,
button {
  font: 400 1rem/1.5 var(--ff-base);
}

h1 {
  font-family: "Syne", sans-serif;
}

h1 {
  font-size: var(--text-xl);
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

