header {
  margin-inline: auto;
  width: 100%;
  padding-inline: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000e7;
  max-height: 100px;
  font-family: "Inter", sans-serif;

}

.menu-hb img {
  display: none;
}

.right-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.usuario {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.493);
  background-color: rgba(0, 0, 255, 0.116);
  padding: 4px 10px;
  border-radius: 8px;
}

.usuario:hover {
  background-color: rgba(0, 0, 255, 0.749);
}

.configuracoes {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.493);
  background-color: #292929;
  padding: 4px 10px;
  border-radius: 8px;
}

.configuracoes:hover {
  background-color: #29292969;
}

@media (max-width: 800px) {
  header {
    padding-inline: 20px;

    & .configuracoes,
    .usuario {
      padding: 2px 6px;
      font-size: 14px;
    }

    & .configuracoes img,
    .usuario img {
      height: 20px;

    }


    & .configuracoes span {
      display: none;
    }

    & .logo img {
      height: 120px;
      width: 120px;
    }
  }
}

@media (max-width: 450px) {
  header {
    padding-inline: 20px;

    & .configuracoes,
    .usuario {
      display: none;
    }

    & .menu-hb img {
      display: block;
    }


    & .logo img {
      height: 100px;
      width: 100px;
    }
  }
}