@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(footer.css);
@import url(main.css);
@import url(solutions.css);
@import url(banner.css);
@import url(diferentions.css);
@import url(parceiro.css);