@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.parceiro {
  background-image: url(../img/parceiro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.parceiro-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 40px;
  padding-block: 160px;

  & .button {
    background-color: green;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.603);
    transition: scale 350ms;

    &:hover {
      scale: 1.1;
    }
  }

  & h2 {
    font-weight: 700;
    font-size: 48px;
    font-family: "Barlow", sans-serif;
    color: white;
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.603);

  }


}